html {
  font-size: 62.5%;
  /* font-size: 0.6vw; */
  box-sizing: border-box;
  transition: font-size 0.3s ease;
}

html * {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  max-width: 120rem;
  overflow-x: hidden;
}

.row {
  background-color: red;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  justify-content: center;
  align-items: center;
  margin-top: 9rem;
  margin-bottom: 6rem;
}

.cc_grid-to-right {
  width: auto;
  background-color: yellow;
}

.cc_grid-to-left {
  width: auto;
  background-color: green;
}

.col {
  outline: 1px solid #fff;
  height: 100%;
}

.col:not(.cc_grid-to-left):not(.cc_grid-to-right):not(.cc_auto-grid) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  padding: 1.5rem;
  font-size: 3.6rem;
  color: #fff;
}

.col figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.col figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1199px) {
  html {
    font-size: 58.5%;
  }
}
